<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div id="sidebar">
   	<div id="logo">
   		<%= link_to root_path %>
   		<%= image_tag "logo.png" %>
   		
   	</div>
   	<ul>
   		<li class="category">Home</li>
   		<li><%= link_to "Blog", root_path %></li>
   		<li>About</li>
   	</ul>
   	<ul>
   		<li class="category">Social</li>
   		<li><a href="http://twitter.com">Twitter</a></li>
   		<li><a href="http://twitter.com">Instagram</a></li>
   		<li><a href="http://twitter.com">Github</a></li>
   		<li><a href="mailto:email@ddavies.co.uk">Email</a></li>
   	</ul>
   	
   	<p class="sign_in">Log in</p>
   </div>
   
    <%= yield %>
  </body>
</html>
